@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .bg-radial-gradient-purple-light {
    background: radial-gradient(circle, rgba(208,199,255,0.6), transparent);
  }
}